:root {
  --clr1: rgb(87, 111, 114);
  --clr2: rgb(228, 220, 207);

  --clr1bg: rgb(125, 157, 156);
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: rgb(243, 242, 216);
  --clr2bg-light: rgb(240, 235, 227);


  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

}

/* :root {
  --clr1: rgb(94, 117, 83);
  --clr2: rgb(209, 200, 136);

  --clr1bg: rgb(153, 166, 149);
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: rgb(237, 233, 159);
  --clr2bg-light: rgb(243, 242, 216);


  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

} */